html{
    font-size: 62.5%;
}
body{
    background-color: burlywood;
}

div.menu{
    display: flex;
    position: absolute;
    top: 5%;
    left: 0%;
    height: 50%;
    width: 20%;
    /* background-color: aliceblue; */
}
div.menu-list{
    display: flex;
    position: absolute;
    left: 0%;
    height: 19%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 21, 255, 0.752);
}
div.menu-list:hover{
    background-color: white;
    color: rgba(0, 21, 255, 0.752);
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
}
div.menulist1{
    top: 0%;
    border-bottom: 0.1px solid black;
}
div.menulist2{
    top: 20%;
    border-bottom: 0.1px solid black;
}
div.menulist3{
    top: 40%;
    border-bottom: 0.1px solid black;
}
div.menulist4{
    top: 60%;
    border-bottom: 1px solid black;
}
div.menulist5{
    top: 80%;
}
div.home-page{
    display: none;
}
div.main-all-page{
    position: absolute;
    top: 5%;
    right: 20%;
    width: 50%;
    height: 900px;
    background: 
    linear-gradient(to left bottom, white, rgb(0, 0, 0)) ;
}
div.home-page-heading{
    display: flex;
    position: absolute;
    top: 10px;
    height: 90px;
    left: 2%;
    width: 96%;
    background-color: silver;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
div.trade-list{
    display: flex;
    position: absolute;
    height: 75px;
    left: 0%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: 
    linear-gradient(to left bottom, gray, rgba(169, 212, 26, 0.821)) ;
}
div.tradelist1{
    top: 120px;
}
div.tradelist2{
    top: 197px;
}
div.tradelist3{
    top: 274px;
}
div.tradelist4{
    top: 351px;
}
div.tradelist5{
    top: 428px;
}
div.tradelist6{
    top: 505px;
}
div.tradelist7{
    top: 582px;
}
div.tradelist8{
    top: 659px;
}
div.tradelist9{
    top: 736px;
}
div.tradelist10{
    top: 813px;
}
div.trade-value{
    display: flex;
    position: absolute;
    top: 5%;
    right: 2%;
    height: 90%;
    width: 30%;
    color: rgb(40, 224, 46);
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    /* background-color: black; */
}
div.trade-icon{
    display: flex;
    position: absolute;
    top: 5%;
    left: 3%;
    height: 90%;
    width: 10%;
    /* background-color: red; */
}
img.trade-icon{
    display: flex;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
div.trade-label{
    display: flex;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 40%;
    height: 90%;
    letter-spacing: 1px;
    font-size: 2.2rem;
    font-weight: 550;
    text-shadow: 3px 3px 8px white;
    align-items: center;
    /* background-color: green; */
}







@media only screen and (max-width:1000px){
    html{
        font-size: 55%;
    }
    div.main-container{
        left: 28%;
        width: 44%;
        height: 525px;
    }
}
@media only screen and (max-width:800px){
    html{
        font-size: 52%;
    }
    div.main-container{
        left: 24%;
        width: 52%;
        height: 525px;
    }
}
@media only screen and (max-width:600px){
    html{
        font-size: 52%;
    }
    div.main-container{
        left: 22%;
        width: 56%;
        height: 525px;
    }
}
@media only screen and (max-width:500px){
    html{
        font-size: 52%;
    }
    div.main-container{
        left: 10%;
        width: 80%;
        height: 525px;
    }
}
@media only screen and (max-width:400px){
    html{
        font-size: 47%;
    }
    div.main-container{
        left: 5%;
        width: 90%;
        height: 525px;
    }
}